name: CI DevOps Básico

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v3

    - name: Build Docker
      run: docker build -t devops-app .

    - name: Rodar container
      run: docker run devops-app
